/* default stylings to ensure setup is predictable */

*,
*::before,
*::after {
    /* styling vars available to every element */
    --background-color: #0E137C;
    --question-points-color: #E6AB3C;
    --accent-background-color: #07081c;
    --font-color: #fff;
    --border-color: #000;

    --login-font: 'Times New Roman';
    --category-font-family: 'Impact';
    --question-points-font-family: 'Impact';
    --player-name-font-family: 'Impact';
    --player-points-font-family: 'Impact';
    --text-card-title-font-family: 'Times New Roman';
    --text-card-content-font-family: 'Times New Roman';
    --player-list-background-color: var(--accent-background-color);
    --player-card-background-color: var(--background-color);

    /* all elements are border-box for more predictable sizing */
    box-sizing: border-box;
}

html,
body,
#root {
    /* app is always locked to the full size of the screen, not just min-content*/
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

h1,
h2,
h3,
p {
    /* disable default padding and margin for predictability with css */
    padding: 0;
    margin: 0;
}

body {
    /* styling defaults */
    height: 100vh;
    width: 100vw;

    color: var(--font-color);
    background-color: var(--background-color);
}

#root {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 200px;
}

#app-header {
    color: var(--font-color);
    text-transform: uppercase;
    letter-spacing: 1em;
    padding: 0.5em 1em;
    min-height: min-content;

    background-color: var(--accent-background-color);
    box-shadow: 0 0.25em 0.25em var(--border-color);
}

#app-main {
    padding: 20px;
    /* needed to scale child nodes */
    display: flex;
    flex-direction: column;

    /* scale to empty space */
    flex: 1;

    /* allow shrinking, deletes min-height to root */
    min-height: 0;
}