.player-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    background-color: var(--background-color);
    /* needed to allow shrinking and subsequently overflow */
    min-height: 0;
}

.game-area {
    /* general styling */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border: 4px solid var(--border-color);

    /* allow us to scale height wise */
    flex: 1;
    display: flex;
    flex-direction: column;

    /* allow scrolling if there are too many elements */
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--font-color) transparent;
    background-color: var(--background-color);
}

/* we use vw here bc it is not crucial
   to see all players and their points
   like how we want to see most of the game board
*/

.player-list {
    /* remove ul defaults */
    padding: 0.5vw;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1vw;

    overflow: auto;
}

.player-card {
    padding: 0.5em 1em;
    flex: 1;
    text-align: center;
    border: 4px solid var(--font-color);

    /* prevent word wrap, overflow instead */
    min-width: max-content;
    transition: box-shadow ease-in-out 250ms;
}

.player-card-name {
    font-size: 1vw;
}

.player-card-points {
    color: var(--font-color);
    font-size: 1.5vw;
    font-family: var(--question-points-font-family);
}

.player-controls {
    /* temporary */
    min-height: 10vh;
    border-radius: 10px;
    background-color: var(--accent-background-color);
    padding: 1rem;
}