.player-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--background-color);
    /* needed to allow shrinking and subsequently overflow */
    min-height: 0;
}

.game-area {
    /* general styling */
    margin: 10px;
    border: 4px solid var(--border-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

    /* allow us to scale height wise */
    flex: 1;
    display: flex;
    flex-direction: column;

    /* allow scrolling if there are too many elements */
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--font-color) transparent;
    background-color: var(--background-color);
}

/* we use vw here bc it is not crucial
   to see all players and their points
   like how we want to see most of the game board
*/

.player-list {
    /* remove ul defaults */
    margin: 10px;
    padding: 0.5vw;
    list-style: none;

    /* general stylings */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #000;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1vw;

    overflow: auto;
    background-color: var(--player-list-background-color);
}

.player-card {
    padding: 0.5em 1em;
    flex: 1;
    text-align: center;
    border: 4px solid var(--font-color);

    /* prevent word wrap, overflow instead */
    min-width: max-content;
    transition: box-shadow ease-in-out 250ms;
    background-color: var(--player-card-background-color);
}

.player-card-name {
    font-size: 1vw;
    font-family: var(--player-name-font-family);
}

.player-card-points {
    color: var(--font-color);
    font-size: 1.5vw;
    font-family: var(--player-points-font-family);
}

.player-controls {
    /* general styling */
    position: fixed;
    width: max-content;
    height: max-content;
    background-color: var(--accent-background-color);
    padding: 1vw;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

    /* dialog box, centered at the bottom */
    margin: auto;
    bottom: 5vh;
    left: 0;
    right: 0;
    border-radius: 1rem;
}

.buzzer-button {
    /* text styling */
    text-shadow: 0 0.1em 0.1em #000;
    color: var(--font-color);
    font-size: 2rem;
    font-family: var(--buzzer-button-font-family);

    /* button styling */
    border: 1px solid #000;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--buzzer-background-color);
}

/* buzzer clicked css */
.buzzer-button:active {
    background-color: var(--buzzer-clicked-background-color);
    transform: translateY(2px);
}