.category {
    /* allow content to expand to fill space */
    display: flex;
    flex-direction: column;
    flex: 1;

    text-align: center;
    font-family: 'Impact';
}

.category-name-cell {
    /* inline-size required to use cqi so that font scales with width */
    container-type: inline-size;

    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;

    /* prevent long name bleeding out into questions */
    overflow: hidden;

    /* cell style */
    border: 4px solid var(--border-color);
    border-bottom: 8px solid var(--border-color);
    padding: 8px;
    min-height: 50px;
}

.category-name {
    /* original jeopardy style */
    color: var(--font-color);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;

    /* 10% of .category-name-cell width but min 5px */
    font-size: clamp(5px, 10cqi, 10cqi);
}

.category-questions {
    /* need to be flex to expand */
    display: flex;
    flex-direction: column;
    /* expand to available height */
    flex: 1;
}

.category-question {
    border: 4px solid var(--border-color);

    /* inline-size required to use cqi so that font scales with width */
    container-type: inline-size;

    /* center text - default cell style */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.points {
    font-size: 35cqi;
    color: var(--question-points-color);

    /* text shadow is relative to font size aka em */
    text-shadow: 0.1em 0.1em 0.1em #000;
}