.category {
    display: flex;
    flex-direction: column;
    /* allow content to expand to fill space (width) */
    flex: 1;

    /* add bounds to font size to be more responsive */
    --min-font-size: 0.5rem;
    --points-font-size: clamp(var(--min-font-size), 20cqi, 20cqi);
    --category-font-size: clamp(var(--min-font-size), 10cqi, 5rem);
}

.category-name-cell {
    /* the text should always scale to fit
       but if the text is too small, then we allow scrolling */
    overflow: auto;

    /* needed for cqi with .category-name */
    container-type: inline-size;
    text-align: center;

    /* cell style */
    min-width: 50px;
    border: 4px solid var(--border-color);
    border-bottom: 8px solid var(--border-color);
    padding: var(--min-font-size);
}

.category-name {
    /* original jeopardy style */
    color: var(--font-color);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;

    /* half of point size bc it usually has more text */
    font-size: var(--category-font-size);
    font-family: var(--category-font-family);
}

.category-questions {
    /* need to be flex to expand */
    display: flex;
    flex-direction: column;
    /* expand to available height */
    flex: 1;
}

.category-question {
    border: 4px solid var(--border-color);
    /* allow cell to grow evenly */
    flex: 1;

    /* make cell flex so that we can center the text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    container-type: inline-size;
    word-break: break-all;
}

.points {
    font-size: var(--points-font-size);
    font-family: var(--question-points-font-family);
    color: var(--question-points-color);
    /* text shadow is relative to font size aka em */
    text-shadow: 0.1em 0.1em 0.1em #000;
}