.category {
    display: flex;
    flex-direction: column;
    /* allow content to expand to fill space (width) */
    flex: 1;
    text-overflow: ellipsis;
}

.category-name-cell {
    text-align: center;

    /* cell style */
    border: 4px solid var(--border-color);
    border-bottom: 8px solid var(--border-color);
    padding: 8px;
}

.category-name {
    /* original jeopardy style */
    color: var(--font-color);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;

    /* half of point size bc it usually has more text */
    font-size: calc(var(--font-size) / 2);
    font-family: var(--category-font-family);
}

.category-questions {
    /* need to be flex to expand */
    display: flex;
    flex-direction: column;
    /* expand to available height */
    flex: 1;
}

.category-question {
    border: 4px solid var(--border-color);
    /* allow cell to grow evenly */
    flex: 1;

    /* make cell flex so that we can center the text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    container-type: inline-size;
    word-break: break-all;
}

.points {
    font-family: var(--question-points-font-family);
    /* 
        we want to scale the text with the width of the element, however,
        using container-type: inline-size; does not
        guarantee scaling to fit the text content.

        using cqi guaranteest he cells will all fit in the parent evenly but not the text
        using vw guarnatees all the text will fit but causes overflow past the parent size

        therefore we use this with word-break: break-all so we overflow height not width
    */
    font-size: clamp(1em, 30cqi, 5em);
    color: var(--question-points-color);
    /* text shadow is relative to font size aka em */
    text-shadow: 0.1em 0.1em 0.1em #000;
    /* ensure shadow doesn't get cutoff*/
    padding: 0.2em;
}